@page
@model CORE.Pages.Politica.IndexModel
@{
    ViewData["Title"] = "POLITICA";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">POLITICA</h2>
    </div>
    <div class="col-6" text-right>
        <a asp-page="Create" class="btn btn-primary">Nuevo</a>
    </div>
</div>

